.yxp.frm-header {
    color: #222;background:#fff;
}
.yxp.frm-webview {height: 100%;box-sizing: border-box;overflow-y: auto;}
.yxp {
    .rsq-webview {max-width: 600px;margin: 0 auto;}
    .bottom-fixed {max-width: 600px;margin: 0 auto;}
    .kb-item {cursor: pointer;}
    .float-action-button {cursor: pointer;}
}